body {
    background-color: #E2E2E2;
    font-family: 'Roboto', sans-serif;
}

.container {
    
}

header {
    height: 224px;
    background: url(../img/header.jpg) no-repeat;
    background-color: #fff;
}

header .navbar {
    padding-top:40px;
}

header .navbar-brand {

}

/* PAGE-MENU */
.page-menu {
    /* border-right: solid 1px #eee; */
    height: 100%;
    padding: 2rem;
}

.page-menu-button {
    background-color: #F6F6F6 !important;
    color: #5D5E6E !important;
    margin-bottom: 23px;
    border-radius: 0px !important;
    line-height: 20px;
    font-size: 20px;
    padding: 22px;
    font-weight: 600;
}

.page-menu-button.active {
    color:#5D5E6E !important;
    border-radius: 0px;
    background-color: #62C9E4 !important;
    /* border-bottom: 2px #5155B6 solid; */
}

.block-holder {
    max-height: 250px;
    
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

.map-container {
    z-index: 100;
}

.block-search {
    position: absolute;
    top:150px;
    /* left: 0; */
    display: block;
    z-index: 9999;
    max-width: 400px;
    width: 400px;
}

.block-search input, .block-search ul {
    width: 100% !important;
}