body {
    background-color: #E2E2E2;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: #fff;
}

header {
    background-color: #fff;
    height: 224px;
}

/* PAGE-MENU */
.page-menu {
    border-right: solid 1px #eee;
    height: 100%;
    padding: 2rem;
}

.page-menu-button {
    color: #5155B6 !important;
    margin-bottom: 1rem;
    border-radius: 0px !important;
    border-bottom: 2px #ddd solid;
}

.page-menu-button.active {
    color:#007bff !important;
    border-radius: 0px;
    background-color: #fff !important;
    border-bottom: 2px #5155B6 solid;
}

.block-holder {
    max-height: 250px;
    
    display: block;
    overflow-y: auto;
}