/* html {
    height: 100%;
}

body , #root, #root > div, .container, #component-root, #component-root > .row, #map-container {
    min-height: 100%;
    height: 100%;
} */

#map-container {
    height: 68vh;
}

body {
    background-color: #F6F6F6;
    font-family: 'Roboto', sans-serif;
}

.container {
    
}

header {
    height: 174px;
    background: url(../img/header.jpg) no-repeat;
    background-color: #fff;
}

header .navbar {
    padding-top:40px;
}

header .navbar-brand {

}

/* PAGE-MENU */
.page-menu {
    /* border-right: solid 1px #eee; */
    height: 100%;
    padding: 1rem;
}

.page-menu-button {
    background-color: #F6F6F6 !important;
    color: #5D5E6E !important;
    margin-bottom: 23px;
    border-radius: 0px !important;
    line-height: 1rem;
    font-size: 1rem;
    padding: 22px;
    font-weight: 600;
}

.page-menu-button.active {
    color:#5D5E6E !important;
    border-radius: 0px;
    background-color: #62C9E4 !important;
    /* border-bottom: 2px #5155B6 solid; */
}

.block-holder {
    max-height: 250px;
    
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

.map-container {
    z-index: 100;
}

.block-search {
    position: absolute;
    top:80px;
    /* left: 0; */
    display: block;
    z-index: 9999;
    max-width: 100%;
    width: 100%;
    padding-right:15px;
}

.block-search input, .block-search ul {
    width: 100% !important;
}

p.block-link {
    padding: .5rem 0;
}

.header-menu {
    /* margin-left: 200px; */
    padding-top:.6rem;
}

.header-menu-item {
    color: #fff;
    font-size:12px;
    margin: 0 1rem;
}

.details {
    padding: 1rem;
    padding-top: 2rem;
}

.details h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
}

p.detail-item {
    border-bottom: solid 1px;
    border-color: #BBBCCB;
    font-size: .87rem;
    padding-bottom: .5rem;
    font-weight: 400;
}

.detail-item span {
    font-weight: bold;
}

.detail-button {
    width: 100%;
}