.house-data{
    flex:3;
    background-color: white;
}

/* HOUSE - PAGE*/
.house-page {
    flex:9;
    min-height: 50vh;
    margin-top:1rem;
}

/* .house-page h1 {
    font-size: 2rem;
} */

.house-main-house {
    width:100%;
    margin-left:1.5rem;
}

.house-main-img {
    width: 207px;
    /* height: 125px; */
    background: #eee;
}

.house-main-caption {
    color: #62C9E4;
    font-size: 18px;
    margin-top: 1rem !important;
    text-align: center;
}

.house-block {
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    margin-left:1rem;
    margin-right:1rem;
    background-color: #fff;
    /* border-radius: 4px; */
    box-shadow: -1px 1px 4px rgba(0,0,0,0.2);
}

.house-block p {
    padding: 0;
    margin: 0;
    margin-bottom: .5rem;
    
}

.house-main {
    height: 176px;
    padding-top: 2rem;
}

.house-block-caption {
    font-weight: 500;
    font-size: 1rem;
}

.house-block-uk {
    font-weight: 500;
    font-size:90%;
    color: #666;
}

.house-violations tr {
    font-size: 80%;
   
}

.house-violations tr td:first-child {
    width: 5rem;
}

.house-violations td {
    padding: 0.25rem;
}

.house-block-info {
    padding: .3rem;
    font-size: 13px;
}

.house-info-caption {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.13;
    margin-bottom: 12px;
}

.house-info-item {
    padding: 0 .5rem;
    /* margin: 0 1rem; */
    align-content: center;
    display: block;
}

.house-info-item-title {
    font-size: 85%;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
}

.house-info-item-data {
    color: #5155B6;
    font-weight: 600;
}

.block-address {
    /* height: 88px; */
}

p.block-address-caption {
    font-size: 20px;
    color: #62C9E4;
    padding: 1.3rem .25rem;
    margin: 0;
}

.detail-caption {
    font-size: 20px;
    color: #5D5E6E;
}